<footer>
  <ul>
    <li><img src="img/logo.JPG" alt="CSUMB Logo"></li>
    <li>
      <div class="copyright">       
      CST336 Internet Programming. 2021&copy; Shum <br />
      <strong>Disclaimer:</strong> This webpage is used for academic purposes only. This is a student project and does does not represent the view or values of the CSUMB organization.</div>
    </li>
  </ul>
</footer>
</body>
</html>