<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>innovaTree</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <div><h1 class="header-title">What's going on with Bitcoin?</h1></div>
      <div>
        <h2 class="page-title"><em><%= title %></em></h2>
      </div>
    </header>
    <nav id="nav-bar">
      <ul class="nav-menu">
        <li class="parent-item">
          <a href="#">Content</a>
          <ul class="dropdown">
            <li class="sub-item-1"><a href="/">Overview</a></li>
            <li class="sub-item-2">
              <a href="/economic-impact">Economic Impact</a>
            </li>
            <li class="sub-item-1">
              <a href="/environmental-impact">Environmental Impact</a>
            </li>
            <li class="sub-item-2"><a href="/future">Future</a></li>
          </ul>
        </li>
        <li class="item"><a href="/sources">Sources</a></li>
        <li class="item"><a href="/about">About</a></li>
        <li class="item"><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </body>
</html>
