<%- include ('partials/head.ejs'); %> <%- include ('partials/header.ejs'); %>
<%- include ('partials/nav.ejs'); %>

<main id="about-content">
  <img
    class="content-top-img"
    src="img/Innovatree_Clear.png"
    alt="innovaTree Logo"
  />

  <div id="about-team">
    <h2><strong>The Website:</strong></h2>
    <br />
    <p>
      innovaTree is a fictional organization of which I am a member. My team
      created this group as part of another course, CST 300: Major Proseminar.
      One of the principles of this group is to provide green solutions for
      technical issues. I thought it would be great to follow in this trend by
      providing an environmental perspective on Bitcoin, a topic that is
      normally considered through an economic or technical lens.
    </p>
    <br />
  </div>

  <div id="about-me">
    <img src="img/circle-cropped.png" alt="Photo of Raymond Shum" />

    <div class="content-1">
      <h2><strong>Myself:</strong></h2>
      <br />
      <p>
        My name is Raymond Shum and I am a current CSUMB CS Online student. I’m
        interested in independent projects related to Dev/Ops, cloud
        technologies or network automation. Please feel free to contact me if
        you’d like to work on one!
      </p>
      <br />
    </div>
  </div>

  <div id="faker">
    <hr><br>
    <p> The below "employee" was generated using the Faker API.</p>
  </div>
</main>

<%- include ('partials/footer.ejs'); %>
