<%- include ('partials/header.ejs'); %>

<main id="economic-impact-content">
  <img class="content-top-img" src="img/econ-img.png" alt="Image from Pexels" />

  <div class="content-1">
    <h2><strong>What is the economic appeal of bitcoin?</strong></h2>
    <br />
    <p>
      Bitcoin is a denationalized currency – it is not bound by the economy of a
      single government, region, or entity. It is thought to be a mix between a
      traditional currency and a commodity (such as gold), possessing the
      desirable traits of durability, divisibility, portability, high liquidity,
      and low transaction costs. For some, it represents the prototype for a
      global currency and for others, its volatility provides appeal as a
      speculative asset.
    </p>
    <br />
  </div>

  <div class="content-1">
    <figure>
      <img
        src="img/bitcoin-adoption.JPG"
        alt="Graph of Bitcoin adoption from IEEE"
      />
      <figcaption>Source: IEEE Access</figcaption>
    </figure>

    <h2>
      <strong>How has Bitcoin integrated with the global economy?</strong>
    </h2>
    <br />
    <p>
      According to a study published by the IEEE, there were 18.42 million
      Bitcoins in circulation in 2020, showing a logarithmic increase since its
      inception in 2009. Bitcoin has gradually gained acceptance from around
      1000 vendors in 2012, 75,000 businesses in 2014 and 36% of small and
      medium sized businesses in the US as of 2020. This includes some major
      companies such as Microsoft, Burger-King, AT&T, KFC, Reddit, Dell, Target
      and Paypal.
    </p>
    <br />

    <h2><strong>What economic challenges does Bitcoin face?</strong></h2>
    <br />
    <p>
      As a decentralized currency, Bitcoin is regulated inconsistently by
      different organizations. For example, The US classifies it as a commodity
      and taxes it as such. On the other hand, China sees it as a competitor to
      its own digital Yuan and places heavy restrictions on its usage. The
      variance in local regulation and enforcement lead to suppressive effects
      on trading and result in price differences across jurisdictions. One of
      Bitcoin’s primary attributes is its ability to act as an international
      currency. It’s ability to cross borders and its use in anonymous
      transactions has been used for tax evasion, illicit activities and to
      avoid regulation by local governments. It is highly likely that local
      financial institutions will continue to increase regulatory efforts
      towards Bitcoin as it gains further adoption.
    </p>
    <br />
  </div>

  <div class="nav-bottom">
    <a href="/">&lt;- Page 1: Overview</a>
    <a href="/environmental-impact">Page 3: Environmental Impact -&gt;</a>
  </div>
</main>

<%- include ('partials/footer.ejs'); %>
