<%- include ('partials/header.ejs'); %>

<main id="environmental-impact-content">
  <img
    class="content-top-img"
    src="img/environment.jpg"
    alt="Image from Pexels"
  />

  <div class="content-1">
    <h2><strong>How does Bitcoin affect the environment?</strong></h2>
    <br />
    <p>
      The unfortunate truth is that Bitcoin has a hugely negative impact on the
      environment. The computing power required to support a profitable mining
      operation is constantly increasing. Associated CO<sub>2</sub> and natural
      gas emissions have increased as a result.
    </p>
    <br />

    <h2><strong>How much energy does Bitcoin mining consume?</strong></h2>
    <br />
    <p>
      In 2019, the Cambridge Bitcoin Electricity Consumption Index (CBECI) and
      Bitcoin Energy Consumption Index (BECI) found that global mining efforts
      consumed between 73.1 to 78.3 terrawatt-hours of electricity. For
      perspective, this is close to or equals the energy consumption of some
      developed countries such as Ireland and Belgium.
    </p>
    <br />

    <h2><strong>Why is this a problem?</strong></h2>
    <br />
    <p>
      Typically, Bitcoin mining is performed in locations where environmental
      regulations are relaxed and cost of energy is low. For example, 58% of
      Bitcoin mining is currently performed in China. Although offset by
      renewable resources such as wind and solar energy, the implication is that
      the negative externalities posed by Bitcoin mining are understated in
      comparison to the raw data concerning energy consumption.
    </p>
    <br />

    <p>The IEEE Access study states:</p>

    <blockquote
      cite="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=9385063"
    >
      <em
        >"There are rumors that all cryptocurrencies would 'pose a serious
        threat to the global commitment to mitigate greenhouse gas emissions
        under the Paris Agreement'[64], especially in the context of gloomy
        forecasts stating that 'Bitcoin emissions alone could push global
        warming above 2 C' [65]."</em
      >
    </blockquote>
    <br />

    <h2>
      <strong>How does this compare with traditional forms of mining?</strong>
    </h2>
    <br />
  </div>

  <div id="env-table">
    <p>
      This table provides a comparison of Bitcoin’s energy consumption
      (Megajoules consumed per USD generated) relative to traditional
      industries:
    </p>
    <br />

    <table>
      <tr class="table-header">
        <th>Product</th>
        <th>MJ/USD</th>
      </tr>
      <tr class="tr-1">
        <th>Aluminum</th>
        <th>122</th>
      </tr>
      <tr class="tr-2">
        <th>Bitcoin</th>
        <th>17</th>
      </tr>
      <tr class="tr-1">
        <th>Platinum</th>
        <th>7</th>
      </tr>
      <tr class="tr-2">
        <th>Gold</th>
        <th>5</th>
      </tr>
      <tr class="tr-1">
        <th>Copper</th>
        <th>4</th>
      </tr>
    </table>
  </div>

  <br /><br />

  <div class="nav-bottom">
    <a href="/economic-impact">&lt;- Page 2: Economic Impact</a>
    <a href="/future">Page 4: Future -&gt;</a>
  </div>
</main>

<%- include ('partials/footer.ejs'); %>
