<%- include ('partials/head.ejs'); %> <%- include ('partials/header.ejs'); %>
<%- include ('partials/nav.ejs'); %>

<main id="future-content">
  <div class="content-1">
    <img class="content-top-img" src="img/future.jpg" alt="Image from Pexels" />

    <h2><strong>What lies ahead for Bitcoin?</strong></h2>
    <br />
    <p>
      Bitcoin’s tremendous rise into the mainstream has been punctuated by
      moments of great uncertainty. Elon Musk, CEO, announced that Tesla would
      no longer be accepting Bitcoin as a payment method for its cars, driving
      its price down. Though responsible for the lion’s share Bitcoin
      production, the Chinese government has begun implementing and enforcing
      mining bans. As governments introduce their own digital currencies, they
      may consider cryptocurrencies such as Bitcoin to be competitors.
      Regulation may be implemented that reduces aspects of the currency (such
      as portability and anonymity) that users find appealing.
    </p>
    <br />

    <figure>
      <img src="img/bitcoin-lifetime-chart.JPG" alt="Bitcoin Lifetime Trend" />
      <figcaption>Source: Investopedia</figcaption>
    </figure>
    <br />

    <p>
      However, as the above chart shows, Bitcoin has experienced many setbacks
      within its 12-year lifespan. It has also generally always trended towards
      greater mainstream acceptance and towards higher monetary value. CNBC has
      reported that major US firms such as Morgan Stanley, JPMorgan and Goldman
      Sachs either offer or plan to offer financial services with respect to
      Bitcoin. CNBC also reports that around half of high-earning Millenials
      have invested 25% - 50% of their wealth into cryptocurrencies. The younger
      generation and major financial firms are steadily increasing their
      adoption of cryptocurrencies, further cementing Bitcoin’s role in society,
      for better or worse.
    </p>
    <br />
  </div>

  <div class="page-backward">
    <a href="/environmental-impact">&lt;-- Page 4: Environmental Impact</a>
  </div>
</main>

<%- include ('partials/footer.ejs'); %>
