<%- include ('partials/header.ejs'); %>

<main id="overview-content">
  <div class="content-1">
    <img
      src="img/overview-img.png"
      alt="Photo by Karolina Grabowska from Pexels"
    />

    <div>
      <h2><strong>Introduction</strong></h2>
      <br />

      <p>
        The purpose of this website is to explore topics related to Bitcoin:
        it’s background, economic or environmental impacts, and potential
        solutions to these issues. You can navigate through this discussion by
        either using the “Content” drop down menu on the navigation bar or by
        following the links at the bottom of each page.
      </p>
      <br />

      <h2><strong>What is Bitcoin?</strong></h2>
      <br />

      <p>
        Bitcoin was launched in 2009 by a person using the alias, “Satoshi
        Nakamoto”. It is regarded as the first major cryptocurrency – a digital
        currencies secured by cryptographic techniques. Bitcoin is secured
        through a distributed digital record known as a blockchain. The
        blockchain is a decentralized store of transactions, a piece of which is
        held by every participating user. Decentralization means that no one
        organization maintains control of all the records. Additionally, the
        records are publicly accessible meaning that individuals can audit the
        data. In fact, transactions must by verified by the majority of
        blockchain participants before they are added.
      </p>
      <br />

      <h2><strong>How are they made?</strong></h2>
      <br />

      <p>
        Bitcoins are “produced” (or more accurately, discovered) through a
        process called mining, which is performed by solving a cryptographic
        calculation that is hard to generate but easy to verify. Bitcoin was
        developed with a maximum number of coins in mind (21 million). Thus,
        Bitcoin mining has become progressively difficult over time, requiring
        more time and energy to discover new coins.
      </p>
      <br />

      <h2><strong>How does Bitcoin relate to Computer Science?</strong></h2>
      <br />

      <p>
        The way Bitcoin was implemented and deployed relates to the field of
        Computer Science. Examples include the use of a blockchain algorithm in
        verifying transactions and the cryptographic algorithm responsible for
        mining. However, this website focuses on the societal impact of Bitcoin
        rather than the technical aspects. As students, technical knowledge is
        important in building a foundation on which we can develop our ability
        to solve problems. However, I feel that as future developers, we should
        also try to understand how our work can affect the world once it leaves
        our hands.
      </p>
      <br />
    </div>
  </div>

  <div class="page-forward">
    <a href="/economic-impact">Page 2: Economic Impact -&gt;</a>
  </div>
</main>

<%- include ('partials/footer.ejs'); %>
