<%- include ('partials/header.ejs'); %>

<main id="sources-content">
  <img src="img/sources.jpg" alt="Image from Pexels" />

  <div content="hyperlinks">
    <div class="content-1">
      <h2><strong>Links</strong></h2>
      <br />

      <p>
        The APA 7 citation below also links to the sources used for this
        website. However, links are included for accessibility and readability.
      </p>
      <br />

      <ul id="sources-list">
        <li>
          <a href="https://doi.org/10.1109/ACCESS.2021.3068636" target="_blank"
            >The Economic and Environmental Impact of Bitcoin.</a
          >
        </li>
        <li>
          <a
            href="https://www.theverge.com/2021/6/23/22544367/china-crypto-crackdown-bitcoin-mining-sichuan-ban-hydro-cryptocurrency-trading"
            target="_blank"
            >What we know about China's cryptocurrency crackdown</a
          >
        </li>
        <li>
          <a href="https://doi.org/10.5772/intechopen.96791" target="_blank"
            >The Economic Effect of Bitcoin Halving Events on the U.S. Capital
            Market</a
          >
        </li>
        <li>
          <a
            href="https://www.investopedia.com/terms/c/cryptocurrency.asp"
            target="_blank"
            >Cryptocurrency</a
          >
        </li>
        <li>
          <a
            href="https://www.cnbc.com/2021/06/22/gen-z-investing-in-cryptocurrency-btc-eth-and-meme-stocks-amc-gme.html"
            target="_blank"
            >Crypto is 'the future of finance': Why Gen Z is ditching
            traditional investments-but with caution</a
          >
        </li>
        <li>
          <a
            href="https://www.cnbc.com/2021/06/13/musk-tesla-will-accept-bitcoin-when-miners-use-clean-energy.html"
            target="_blank"
            >Musk says Tesla will accept bitcoin again as crypto miners use more
            clean energy. CNBC</a
          >
        </li>
        <li>
          <a
            href="https://www.newscientist.com/definition/bitcoin/"
            target="_blank"
            >What is bitcoin and how does it work?</a
          >
        </li>
        <li>
          <a
            href="https://www.nerdwallet.com/article/investing/what-is-bitcoin"
            target="_blank"
            >What is Bitcoin, And How Does It Work?</a
          >
        </li>
      </ul>
      <br /><br />
    </div>
  </div>

  <h2><strong>APA 7 Citation</strong></h2>
  <br />

  <p class="citation">
    Badea, L., & Mungui-Pupazan, M. C. (2021). The Economic and Environmental
    Impact of Bitcoin. <em>IEEE Acess</em>, 9, 1–14.
    <a href="https://doi.org/10.1109/ACCESS.2021.3068636" target="_blank"
      >https://doi.org/10.1109/ACCESS.2021.3068636</a
    >
  </p>
  <br />

  <p class="citation">
    Clark, M. (2021, June 23).
    <em>What we know about China's cryptocurrency crackdown</em>. The Verge.
    <a
      href="https://www.theverge.com/2021/6/23/22544367/china-crypto-crackdown-bitcoin-mining-sichuan-ban-hydro-cryptocurrency-trading"
      target="_blank"
      >https://www.theverge.com/2021/6/23/22544367/china-crypto-crackdown-bitcoin-mining-sichuan-ban-hydro-cryptocurrency-trading</a
    >.
  </p>
  <br />

  <p class="citation">
    El Mahdy, D. (2021).
    <em
      >The Economic Effect of Bitcoin Halving Events on the U.S. Capital
      Market</em
    >. 21st Century Approaches to Management and Accounting Research [Working
    Title].
    <a href="https://doi.org/10.5772/intechopen.96791" target="_blank"
      >https://doi.org/10.5772/intechopen.96791</a
    >
  </p>
  <br />

  <p class="citation">
    Frankenfield, J. (2021, May 25). <em>Cryptocurrency</em>. Investopedia.
    <a
      href="https://www.investopedia.com/terms/c/cryptocurrency.asp"
      target="_blank"
      >https://www.investopedia.com/terms/c/cryptocurrency.asp</a
    >.
  </p>
  <br />

  <p class="citation">
    Locke, T. (2021, June 22).
    <em
      >Crypto is 'the future of finance': Why Gen Z is ditching traditional
      investments-but with caution</em
    >. CNBC.
    <a
      href="https://www.cnbc.com/2021/06/22/gen-z-investing-in-cryptocurrency-btc-eth-and-meme-stocks-amc-gme.html"
      target="_blank"
      >https://www.cnbc.com/2021/06/22/gen-z-investing-in-cryptocurrency-btc-eth-and-meme-stocks-amc-gme.html</a
    >.
  </p>
  <br />

  <p class="citation">
    Newburger, E. (2021, June 14).
    <em
      >Musk says Tesla will accept bitcoin again as crypto miners use more clean
      energy</em
    >. CNBC.
    <a
      href="https://www.cnbc.com/2021/06/13/musk-tesla-will-accept-bitcoin-when-miners-use-clean-energy.html"
      target="_blank"
      >https://www.cnbc.com/2021/06/13/musk-tesla-will-accept-bitcoin-when-miners-use-clean-energy.html</a
    >.
  </p>
  <br />

  <p class="citation">
    Sparkes, M. (n.d.). <em>What is bitcoin and how does it work?</em> New
    Scientist.
    <a href="https://www.newscientist.com/definition/bitcoin/" target="_blank"
      >https://www.newscientist.com/definition/bitcoin/.</a
    >
  </p>
  <br />

  <p class="citation">
    Voight, K. (2021, June 21).
    <em>What is Bitcoin, And How Does It Work?</em> NerdWallet.
    <a
      href="https://www.nerdwallet.com/article/investing/what-is-bitcoin"
      target="_blank"
      >https://www.nerdwallet.com/article/investing/what-is-bitcoin</a
    >.
  </p>
  <br />
</main>

<%- include ('partials/footer.ejs'); %>
